# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
media/
static/
nwp_models_data/
nwp_models_data_test/
generated_maps/
generatedaps12/

# Virtual environments
venv/
env/
.rsmc-env/

# VSCode
.vscode/
*.pyc
