[Unit]
Description=Celery Worker for Django WRF Processing
After=network.target

[Service]
Type=simple

User=%i
Group=%i

WorkingDirectory=%h/kmd/kmd_web/web_service

Environment=DJANGO_SETTINGS_MODULE=rsmc_config.config.settings
Environment=PYTHONUNBUFFERED=1

ExecStart=%h/miniconda3/envs/rsmc-env/bin/python -m celery \
          -A rsmc_config.config worker \
          --loglevel=INFO \
          --concurrency=3

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target