[Unit]
Description=WRF File Watcher
After=network.target celery.service
Requires=celery.service

[Service]
Type=simple

User=%u
Group=%u

WorkingDirectory=%h/kmd/kmd_web/web_service

Environment="PATH=%h/miniconda3/envs/rsmc-env/bin"
Environment=DJANGO_SETTINGS_MODULE=rsmc_config.config.settings

ExecStart=%h/miniconda3/envs/rsmc-env/bin/python %h/kmd/kmd_web/web_service/watch_wrf.py

Restart=always
RestartSec=10
TimeoutStartSec=120

StandardOutput=append:%h/wrf_watcher.log
StandardError=append:%h/wrf_watcher.err

[Install]
WantedBy=multi-user.target
